<div class="w-full flex flex-wrap justify-start items-center">
  <!-- <h2 class="text-5xl">Busca tú servicio</h2> -->
  <div class="flex justify-around gap-5 mt-4 w-full">
    <div routerLink="/" class="flex flex-col justify-center items-center cursor-pointer">
      <div class="border-b-2 border-blue-950">
        <fa-icon class="text-lg text-blue-950" [icon]="faHotel"></fa-icon>
      </div>
      <a class="text-lg text-blue-950">Hotel</a>
    </div>

    <div routerLink="/restautants" class="flex flex-col justify-center items-center cursor-pointer">
      <div class="border-b-2 border-blue-950">
        <fa-icon class="text-lg text-blue-950" [icon]="faUtensils"></fa-icon>
      </div>
      <a class="text-lg text-blue-950">Restaurante</a>
    </div>

    <div routerLink="/" class="flex flex-col justify-center items-center cursor-pointer">
      <div class="border-b-2 border-blue-950">
        <fa-icon class="text-lg text-blue-950" [icon]="faPlane"></fa-icon>
      </div>
      <a class="text-lg text-blue-950">Viajes</a>
    </div>

    <div routerLink="/" class="flex flex-col justify-center items-center cursor-pointer">
      <div class="border-b-2 border-blue-950">
        <fa-icon class="text-lg text-blue-950" [icon]="faRoute"></fa-icon>
      </div>
      <a class="text-lg text-blue-950">Tours</a>
    </div>

    <div routerLink="/" class="flex flex-col justify-center items-center cursor-pointer">
      <div class="border-b-2 border-blue-950">
        <fa-icon class="text-lg text-blue-950" [icon]="faPersonWalkingLuggage"></fa-icon>
      </div>
      <a class="text-lg text-blue-950">Paquetes</a>
    </div>

    <div routerLink="/" class="flex flex-col justify-center items-center cursor-pointer">
      <div class="border-b-2 border-blue-950">
        <fa-icon class="text-lg text-blue-950" [icon]="faLocationDot"></fa-icon>
      </div>
      <a class="text-lg text-blue-950">Cerca de tí</a>
    </div>
  </div>
</div>
