<header class="w-full flex justify-center bg-transparent absolute top-0 left-0 z-30">
  <menu class="flex justify-start items-center gap-5 text-blue-950 py-4 w-[90%]">
    <div routerLink="/home" class="logo text-lg hover:text-lime-600 transition-[300ms]">
      Viajuco
    </div>

    <nav class="hidden lg:flex justify-between gap-5 ">
      <div class="flex items-center justify-between gap-4 hover:text-lime-600 transition-[300ms]">
        <!-- <fa-icon class="text-[25px]" [icon]="faHome"></fa-icon> -->
        <a class="text-lg" [routerLink]="['/home']" routerLinkActive="router-link-active"  type="button">Home</a>
      </div>


      <div class="flex items-center justify-between gap-4 hover:text-lime-600 transition-[300ms]">
        <!-- <fa-icon class="text-[25px]" [icon]="faTableList"></fa-icon> -->
        <a class="text-lg" [routerLink]="['/history']" type="button">History</a>
      </div>

      <div class="flex items-center justify-between gap-4 hover:text-lime-600 transition-[300ms]">
        <!-- <fa-icon class="text-[25px]" [icon]="faTable"></fa-icon> -->
        <a class="text-lg" [routerLink]="['/admin']" type="button">Admin</a>
      </div>

      @if (userCurrent() === null) {
        <div
          class="flex items-center justify-between gap-4 hover:text-lime-600 transition-[300ms]"
          (click)="openDialogLogin()"
        >
          <!-- <fa-icon class="text-[25px]" [icon]="faUser"></fa-icon> -->
          <a class="text-lg" type="button">Login</a>
        </div>
      }@else {
        <button type="button" class="flex items-center"
        cdkOverlayOrigin #trigger="cdkOverlayOrigin"
        (click)="openUserOptions = !openUserOptions"
        >
          <p>{{userCurrent().email}}</p>
        </button>

        <ng-template
          cdkConnectedOverlay
          [cdkConnectedOverlayOrigin]="trigger"
          [cdkConnectedOverlayOpen]="openUserOptions"
        >
          <ul class="example-list bg-white px-5 py-2">
            <li class="cursor-pointer">Update</li>
            <li class="text-lime-500 font-bold hover:text-lime-400 cursor-pointer" (click)="logOut()">Logout</li>
          </ul>
        </ng-template>
      }


      <div class="flex items-center">
        <button class="p-2 relative">
          <span class="rounded absolute top-0 -left-3 bg-black text-white h-5 w-5 text-xs">{{0}}</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"
            />
          </svg>
        </button>
      </div>
    </nav>


    <div class="menu-mobile lg:hidden">
      <fa-icon class="text-[25px]" [icon]="faBars"></fa-icon>
    </div>
  </menu>
</header>


