<section class="h-full w-full p-0">
  <div class="flex justify-between bg-white drop-shadow-md rounded-lg py-3 px-3 mt-5">
    <h2 class="font-bold text-blue-950 text-xl">Regiones de Colombia</h2>

    <button
      type="button"
      (click)="openDialogFormCreate()"
      class="border border-blue-900 px-3 py-2 rounded hover:bg-blue-950 hover:text-white transition-colors duration-500 ease-in-out"
    >
      Agregar
    </button>
  </div>

  <div class="flex flex-wrap gap-5">
    @for (region of regions; track region.id) {
      <article class="flexflex-col justify-between items-center gap-5 bg-white drop-shadow-md rounded-lg py-3 px-3 mt-5 sm:w-full md:w-1/3 lg:w-1/4">
        <img class="rounded-xl" [src]="region.image" [alt]="region.name" loading="lazy">

        <div class="self-start ">
          <h2 class="font-bold text-blue-950 text-lg">{{region.name | uppercase}}</h2>
          <p>
            {{region.legend}}
          </p>
        </div>

        <div class="flex gap-5 w-full">
          <button
            type="button"
            (click)="openDialogFormCreate()"
            class="border border-red-700 bg-red-700 px-3 py-2 rounded hover:bg-red-500 text-white transition-colors duration-500 ease-in-out"
          >
            Eliminar
          </button>

          <button
            type="button"
            (click)="openDialogFormUpdate(region)"
            class="
              border border-blue-900 px-3 py-2 rounded hover:bg-blue-950 hover:text-white
              transition-colors duration-500 ease-in-out
              "
          >
            Editar
          </button>
        </div>

      </article>
    }
  </div>

</section>
