<section class="h-full w-full p-0">
  <div class="flex justify-between bg-white drop-shadow-md rounded-lg py-3 px-3 mt-5">
    <h2 class="font-bold text-blue-950 text-xl">Regiones de Colombia</h2>
    <div class="flex gap-5">
      <button
        type="button"
        (click)="openDialogFormCreate()"
        class="border border-red-700 bg-red-700 px-3 py-2 rounded hover:bg-red-500 text-white transition-colors duration-500 ease-in-out"
      >
        Eliminar
      </button>
      <button
        type="button"
        (click)="openDialogFormCreate()"
        class="border border-blue-900 px-3 py-2 rounded hover:bg-blue-950 hover:text-white transition-colors duration-500 ease-in-out"
      >
        Agregar
      </button>

    </div>
  </div>

  <article class="flex justify-between items-center gap-5 bg-white drop-shadow-md rounded-lg py-3 px-3 mt-5">
    <img class="w-1/4 rounded-xl" src="../../../../../assets/img/regions/region_amazonia.jpg" alt="amazonias" loading="lazy">

    <div class="w-3/4 self-start">
      <h2 class="font-bold text-blue-950 text-lg">Amazonia</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta dolor doloremque accusantium, impedit quidem sint ullam repudiandae reprehenderit itaque temporibus libero ab voluptate mollitia distinctio ipsa magnam laudantium tempora. Voluptatibus!
      </p>
    </div>


    <button
      type="button"
      class="
        self-end
        border border-blue-900 px-3 py-2 rounded hover:bg-blue-950 hover:text-white
        transition-colors duration-500 ease-in-out
        "
    >
      Editar
    </button>
  </article>
</section>
