<section class="restaurants h-screen w-full pt-14">
  <div class="restaurants__containter flex flex-wrap justify-stretch w-[90%] h-full m-auto">
    <app-menu-places></app-menu-places>

    <div class="cards__container flex flex-wrap gap-4 w-full h-full">
      <div class="card w-[300px] h-80 border overflow-hidden rounded-lg">
        <img class="object-cover h-1/2 w-full" src="https://firebasestorage.googleapis.com/v0/b/turismo-f9aa8.appspot.com/o/restaurantes%2Frestaurant_1.jpg?alt=media&token=693458f1-745a-47db-92fe-f200371a5674" alt="restaurante" loading="lazy">
        <div class="flex flex-col justify-between h-1/2">
          <div class="">
            <h2 class="px-2 text-lg font-bold border">Restaurante la abuela</h2>
            <p class="px-2">
              Traditional Colombian food made with traditional techniques and wood-burning stove.
            </p>
          </div>
          <button [routerLink]="['/restautant']" routerLinkActive="router-link-active"  class="bg-lime-500 hover:bg-lime-400 py-2 text-blue-950 font-bold" type="button">
            Explora
          </button>
        </div>
      </div>

      <div class="card w-[300px] h-80 border overflow-hidden rounded-lg">
        <img class="object-cover h-1/2 w-full" src="https://firebasestorage.googleapis.com/v0/b/turismo-f9aa8.appspot.com/o/restaurantes%2Frestaurant_2.jpg?alt=media&token=d9cf1078-7d27-4a95-824a-e00acadb810b" alt="restaurante" loading="lazy">
        <div class="flex flex-col justify-between h-1/2">
          <div class="">
            <h2 class="px-2 text-lg font-bold border">La Pomona</h2>
            <p class="px-2">
              Traditional Colombian food made with traditional techniques and wood-burning stove.
            </p>
          </div>
          <button class="bg-lime-500 hover:bg-lime-400 py-2 text-blue-950 font-bold" type="button">
            Explora
          </button>
        </div>
      </div>

      <div class="card w-[300px] h-80 border overflow-hidden rounded-lg">
        <img class="object-cover h-1/2 w-full" src="https://firebasestorage.googleapis.com/v0/b/turismo-f9aa8.appspot.com/o/restaurantes%2Frestaurant_3.jpg?alt=media&token=d614d636-5b04-4cd3-b8f6-ed65f6bebc4d" alt="restaurante" loading="lazy">
        <div class="flex flex-col justify-between h-1/2">
          <div class="">
            <h2 class="px-2 text-lg font-bold border">Clasicos</h2>
            <p class="px-2">
              Traditional Colombian food made with traditional techniques and wood-burning stove.
            </p>
          </div>
          <button class="bg-lime-500 hover:bg-lime-400 py-2 text-blue-950 font-bold" type="button">
            Explora
          </button>
        </div>
      </div>

      <div class="card w-[300px] h-80 border overflow-hidden rounded-lg">
        <img class="object-cover h-1/2 w-full" src="https://firebasestorage.googleapis.com/v0/b/turismo-f9aa8.appspot.com/o/restaurantes%2Frestaurant_4.jpg?alt=media&token=241b3321-98b5-4018-b24e-3800ea878c10" alt="restaurante" loading="lazy">
        <div class="flex flex-col justify-between h-1/2">
          <div class="">
            <h2 class="px-2 text-lg font-bold border">Mansion La herrería</h2>
            <p class="px-2">
              Traditional Colombian food made with traditional techniques and wood-burning stove.
            </p>
          </div>
          <button class="bg-lime-500 hover:bg-lime-400 py-2 text-blue-950 font-bold" type="button">
            Explora
          </button>
        </div>
      </div>

      <div class="card w-[300px] h-80 border overflow-hidden rounded-lg">
        <img class="object-cover h-1/2 w-full" src="https://firebasestorage.googleapis.com/v0/b/turismo-f9aa8.appspot.com/o/restaurantes%2Frestaurant_5.jpg?alt=media&token=6b841708-04f3-4ba8-8da2-6be87efd1d74" alt="restaurante" loading="lazy">
        <div class="flex flex-col justify-between h-1/2">
          <div class="">
            <h2 class="px-2 text-lg font-bold border">Donde Bacco</h2>
            <p class="px-2">
              Traditional Colombian food made with traditional techniques and wood-burning stove.
            </p>
          </div>
          <button class="bg-lime-500 hover:bg-lime-400 py-2 text-blue-950 font-bold" type="button">
            Explora
          </button>
        </div>
      </div>

      <div class="card w-[300px] h-80 border overflow-hidden rounded-lg">
        <img class="object-cover h-1/2 w-full" src="https://firebasestorage.googleapis.com/v0/b/turismo-f9aa8.appspot.com/o/restaurantes%2Frestaurant_6.jpg?alt=media&token=32628444-3656-4032-afce-0f2c485f1943" alt="restaurante" loading="lazy">
        <div class="flex flex-col justify-between h-1/2">
          <div class="">
            <h2 class="px-2 text-lg font-bold border">Ambar</h2>
            <p class="px-2">
              Traditional Colombian food made with traditional techniques and wood-burning stove.
            </p>
          </div>
          <button class="bg-lime-500 hover:bg-lime-400 py-2 text-blue-950 font-bold" type="button">
            Explora
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
