<section class="restaurants h-screen w-full pt-14">
  <div class="restaurants__containter flex flex-wrap justify-stretch w-[90%] h-full m-auto">
    <app-menu-places></app-menu-places>

    <div class="cards__container flex flex-wrap gap-4 w-full h-full">
      <div class="card w-[300px] h-80 border overflow-hidden rounded-lg">
        <img class="object-cover h-1/2 w-full" src="../../../../../assets/img/restaurant/restaurant_1.jpg" alt="restaurante" loading="lazy">
        <div class="flex flex-col justify-between h-1/2">
          <div class="">
            <h2 class="px-2 text-lg font-bold border">Restaurante la abuela</h2>
            <p class="px-2">
              Traditional Colombian food made with traditional techniques and wood-burning stove.
            </p>
          </div>
          <button [routerLink]="['/restautant']" routerLinkActive="router-link-active"  class="bg-lime-500 hover:bg-lime-400 py-2 text-blue-950 font-bold" type="button">
            Explora
          </button>
        </div>
      </div>

      <div class="card w-[300px] h-80 border overflow-hidden rounded-lg">
        <img class="object-cover h-1/2 w-full" src="../../../../../assets/img/restaurant/restaurant_2.jpg" alt="restaurante" loading="lazy">
        <div class="flex flex-col justify-between h-1/2">
          <div class="">
            <h2 class="px-2 text-lg font-bold border">La Pomona</h2>
            <p class="px-2">
              Traditional Colombian food made with traditional techniques and wood-burning stove.
            </p>
          </div>
          <button class="bg-lime-500 hover:bg-lime-400 py-2 text-blue-950 font-bold" type="button">
            Explora
          </button>
        </div>
      </div>

      <div class="card w-[300px] h-80 border overflow-hidden rounded-lg">
        <img class="object-cover h-1/2 w-full" src="../../../../../assets/img/restaurant/restaurant_3.jpg" alt="restaurante" loading="lazy">
        <div class="flex flex-col justify-between h-1/2">
          <div class="">
            <h2 class="px-2 text-lg font-bold border">Clasicos</h2>
            <p class="px-2">
              Traditional Colombian food made with traditional techniques and wood-burning stove.
            </p>
          </div>
          <button class="bg-lime-500 hover:bg-lime-400 py-2 text-blue-950 font-bold" type="button">
            Explora
          </button>
        </div>
      </div>

      <div class="card w-[300px] h-80 border overflow-hidden rounded-lg">
        <img class="object-cover h-1/2 w-full" src="../../../../../assets/img/restaurant/restaurant_4.jpg" alt="restaurante" loading="lazy">
        <div class="flex flex-col justify-between h-1/2">
          <div class="">
            <h2 class="px-2 text-lg font-bold border">Mansion La herrería</h2>
            <p class="px-2">
              Traditional Colombian food made with traditional techniques and wood-burning stove.
            </p>
          </div>
          <button class="bg-lime-500 hover:bg-lime-400 py-2 text-blue-950 font-bold" type="button">
            Explora
          </button>
        </div>
      </div>

      <div class="card w-[300px] h-80 border overflow-hidden rounded-lg">
        <img class="object-cover h-1/2 w-full" src="../../../../../assets/img/restaurant/restaurant_5.jpg" alt="restaurante" loading="lazy">
        <div class="flex flex-col justify-between h-1/2">
          <div class="">
            <h2 class="px-2 text-lg font-bold border">Donde Bacco</h2>
            <p class="px-2">
              Traditional Colombian food made with traditional techniques and wood-burning stove.
            </p>
          </div>
          <button class="bg-lime-500 hover:bg-lime-400 py-2 text-blue-950 font-bold" type="button">
            Explora
          </button>
        </div>
      </div>

      <div class="card w-[300px] h-80 border overflow-hidden rounded-lg">
        <img class="object-cover h-1/2 w-full" src="../../../../../assets/img/restaurant/restaurant_6.jpg" alt="restaurante" loading="lazy">
        <div class="flex flex-col justify-between h-1/2">
          <div class="">
            <h2 class="px-2 text-lg font-bold border">Ambar</h2>
            <p class="px-2">
              Traditional Colombian food made with traditional techniques and wood-burning stove.
            </p>
          </div>
          <button class="bg-lime-500 hover:bg-lime-400 py-2 text-blue-950 font-bold" type="button">
            Explora
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
