<menu class="flex justify-center">
  <nav class="w-[90%] py-4">
    <button class="relative" (click)="isOpen = !isOpen" type="button" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
      Region
    </button>

  </nav>
</menu>

<!-- This template displays the overlay content and is connected to the button -->
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen"
>
  <ul class="bg-white flex flex-col gap-4 p-4 shadow-sm border">
    @for (region of regions(); track region.id) {
      <li>{{region.name}}</li>
    }
  </ul>
</ng-template>
