<div class="home h-screen">
  <div class="home__container flex flex-wrap justify-stretch w-[90%] h-full m-auto">

    <div class="home__thumbnails relative z-10 pt-14 w-1/2 h-2/3 flex flex-col justify-between">

      <div class="flex flex-col">
        <div class="logo w-[20%]">
          <img class="object-cover" src="../../../../../assets/img/logo 2.svg" alt="logo" loading="lazy">
        </div>

        <h2>Explora mas allá del horizonte</h2>
      </div>


      <div class="thumbnails__carousel w-full flex items-end flex-wrap">
        <div class="carousel__wraper">
          <div class="thumbnail__item flex flex-col w-40 h-56 relative">
            <img class="w-full h-full object-cover" src="../../../../../assets/img/regions/region_amazonia.jpg" alt="regions" loading="lazy">
            <div class="thumbnail__leyend absolute bottom-0 bg-blue-950 px-2 py-2 text-white w-full">
              <p>Región x</p>
            </div>
          </div>
          <div class="thumbnail__item flex flex-col w-40 h-56 relative">
            <img class="w-full h-full object-cover" src="../../../../../assets/img/regions/region_andina.jpg" alt="regions" loading="lazy">
            <div class="thumbnail__leyend absolute bottom-0 bg-blue-950 px-2 py-2 text-white w-full">
              <p>Región x</p>
            </div>
          </div>
          <div class="thumbnail__item flex flex-col w-40 h-56 relative">
            <img class="w-full h-full object-cover" src="../../../../../assets/img/regions/region_caribe.jpg" alt="regions" loading="lazy">
            <div class="thumbnail__leyend absolute bottom-0 bg-blue-950 px-2 py-2 text-white w-full">
              <p>Región x</p>
            </div>
          </div>
          <div class="thumbnail__item flex flex-col w-40 h-56 relative">
            <img class="w-full h-full object-cover" src="../../../../../assets/img/regions/region_insular.jpg" alt="regions" loading="lazy">
            <div class="thumbnail__leyend absolute bottom-0 bg-blue-950 px-2 py-2 text-white w-full">
              <p>Región x</p>
            </div>
          </div>
          <div class="thumbnail__item flex flex-col w-40 h-56 relative">
            <img class="w-full h-full object-cover" src="../../../../../assets/img/regions/region_orinoquia.jpg" alt="regions" loading="lazy">
            <div class="thumbnail__leyend absolute bottom-0 bg-blue-950 px-2 py-2 text-white w-full">
              <p>Región x</p>
            </div>
          </div>
          <div class="thumbnail__item flex flex-col w-40 h-56 relative">
            <img class="w-full h-full object-cover" src="../../../../../assets/img/regions/region_pacifico.jpg" alt="regions" loading="lazy">
            <div class="thumbnail__leyend absolute bottom-0 bg-blue-950 px-2 py-2 text-white w-full">
              <p>Región x</p>
            </div>
          </div>
        </div>

        <div class="arrows flex-grow self-end flex items-center p-2 gap-5">
          <button type="button" class=""><</button>
          <button type="button" class="">></button>
        </div>
      </div>
    </div>

    <div class="home__explore relative w-1/2 h-2/3">
      <img class="object-cover h-full w-full" src="../../../../../assets/img/regions/region_amazonia.jpg" alt="region-explore" loading="lazy">
      <button class="absolute bottom-5 right-5 py-2 px-4 rounded-2xl text-blue-950 font-bold border-none bg-lime-400 hover:bg-lime-300" type="button">Explora</button>
    </div>

    <div class="home_services w-1/2 h-1/3 bg-[#F2867A] ps-2 flex flex-wrap justify-start items-center">
      <h2 class="text-5xl">Busca tú servicio</h2>
      <div class="flex justify-around gap-5 mt-4 w-full">
        <div class="flex flex-col justify-center items-center">
          <div class="border-b-2 border-blue-950">
            <fa-icon class="text-[25px] text-blue-950" [icon]="faHotel"></fa-icon>
          </div>
          <h3 class="font-bold text-lg text-blue-950">Hotel</h3>
        </div>

        <div class="flex flex-col justify-center items-center">
          <div class="border-b-2 border-blue-950">
            <fa-icon class="text-[25px] text-blue-950" [icon]="faUtensils"></fa-icon>
          </div>
          <h3 class="font-bold text-lg text-blue-950">Restaurante</h3>
        </div>

        <div class="flex flex-col justify-center items-center">
          <div class="border-b-2 border-blue-950">
            <fa-icon class="text-[25px] text-blue-950" [icon]="faPlane"></fa-icon>
          </div>
          <h3 class="font-bold text-lg text-blue-950">Viajes</h3>
        </div>

        <div class="flex flex-col justify-center items-center">
          <div class="border-b-2 border-blue-950">
            <fa-icon class="text-[25px] text-blue-950" [icon]="faRoute"></fa-icon>
          </div>
          <h3 class="font-bold text-lg text-blue-950">Tours</h3>
        </div>

        <div class="flex flex-col justify-center items-center">
          <div class="border-b-2 border-blue-950">
            <fa-icon class="text-[25px] text-blue-950" [icon]="faPersonWalkingLuggage"></fa-icon>
          </div>
          <h3 class="font-bold text-lg text-blue-950">Paquetes</h3>
        </div>

        <div class="flex flex-col justify-center items-center">
          <div class="border-b-2 border-blue-950">
            <fa-icon class="text-[25px] text-blue-950" [icon]="faLocationDot"></fa-icon>
          </div>
          <h3 class="font-bold text-lg text-blue-950">Cerca de tí</h3>
        </div>
      </div>
    </div>

    <div class="home__events w-1/2 h-1/3 overflow-hidden relative">
      <div class="absolute top-0 left-0 bg-blue-950 text-white w-1/2 ps-2 py-2">
        <p>Carnaval negros y blancos</p>
        <p>Enero 3-6</p>
      </div>
      <img class="object-cover center" src="../../../../../assets/img/pasto.avif" alt="Eventos" loading="lazy">

      <button class="absolute bottom-5 right-5 py-2 px-4 rounded-2xl text-blue-950 font-bold border-none bg-lime-400 hover:bg-lime-300" type="button">Reserva</button>
    </div>

  </div>
</div>



