<section class="home h-screen">
  <div class="home__container flex flex-wrap justify-stretch w-[90%] h-full m-auto">

    <div class="home__thumbnails relative z-10 pt-14 w-1/2 h-2/3 flex flex-col justify-between">

      <div class="flex flex-col">
        <app-menu-simple-service></app-menu-simple-service>
      </div>


      <div class="thumbnails__carousel w-full flex items-end flex-wrap">
        <div class="carousel__wraper">
          <div class="thumbnail__item flex flex-col w-40 h-56 relative">
            <img class="w-full h-full object-cover" src="https://firebasestorage.googleapis.com/v0/b/turismo-f9aa8.appspot.com/o/home%2Fregiones%2Fregion_amazonia.jpg?alt=media&token=b703b492-051a-4e9f-bccd-9633be266cad" alt="regions" loading="lazy">
            <div class="thumbnail__leyend absolute bottom-0 bg-blue-950 px-2 py-2 text-white w-full">
              <p>Amazonía</p>
            </div>
          </div>
          <div class="thumbnail__item flex flex-col w-40 h-56 relative">
            <img class="w-full h-full object-cover" src="https://firebasestorage.googleapis.com/v0/b/turismo-f9aa8.appspot.com/o/home%2Fregiones%2Fregion_andina.jpg?alt=media&token=d8f2be21-5e8b-4c0f-8de1-08d42d94a832" alt="regions" loading="lazy">
            <div class="thumbnail__leyend absolute bottom-0 bg-blue-950 px-2 py-2 text-white w-full">
              <p>Andina</p>
            </div>
          </div>
          <div class="thumbnail__item flex flex-col w-40 h-56 relative">
            <img class="w-full h-full object-cover" src="https://firebasestorage.googleapis.com/v0/b/turismo-f9aa8.appspot.com/o/home%2Fregiones%2Fregion_caribe.jpg?alt=media&token=98f8af17-9c10-4194-89ac-8653ef4390d2" alt="regions" loading="lazy">
            <div class="thumbnail__leyend absolute bottom-0 bg-blue-950 px-2 py-2 text-white w-full">
              <p>Caribe</p>
            </div>
          </div>
          <div class="thumbnail__item flex flex-col w-40 h-56 relative">
            <img class="w-full h-full object-cover" src="https://firebasestorage.googleapis.com/v0/b/turismo-f9aa8.appspot.com/o/home%2Fregiones%2Fregion_insular.jpg?alt=media&token=4dda77d2-e2f6-44cb-b15d-3ed9bfdace7b" alt="regions" loading="lazy">
            <div class="thumbnail__leyend absolute bottom-0 bg-blue-950 px-2 py-2 text-white w-full">
              <p>Insular</p>
            </div>
          </div>
          <div class="thumbnail__item flex flex-col w-40 h-56 relative">
            <img class="w-full h-full object-cover" src="https://firebasestorage.googleapis.com/v0/b/turismo-f9aa8.appspot.com/o/home%2Fregiones%2Fregion_orinoquia.jpg?alt=media&token=437cab9c-4bf0-4fc8-b6ac-62c48f9632c6" alt="regions" loading="lazy">
            <div class="thumbnail__leyend absolute bottom-0 bg-blue-950 px-2 py-2 text-white w-full">
              <p>Orinoquía</p>
            </div>
          </div>
          <div class="thumbnail__item flex flex-col w-40 h-56 relative">
            <img class="w-full h-full object-cover" src="https://firebasestorage.googleapis.com/v0/b/turismo-f9aa8.appspot.com/o/home%2Fregiones%2Fregion_pacifico.jpg?alt=media&token=f75a4790-18c0-4fbc-82b7-a2f4d8975bb8" alt="regions" loading="lazy">
            <div class="thumbnail__leyend absolute bottom-0 bg-blue-950 px-2 py-2 text-white w-full">
              <p>Pacifico</p>
            </div>
          </div>
        </div>

        <div class="arrows flex-grow self-end flex items-center p-2 gap-5 bg-lime-400">
          <button type="button" class="text-lg font-bold"><</button>
          <button type="button" class="text-lg font-bold">></button>
        </div>
      </div>
    </div>

    <div class="home__explore relative w-1/2 h-2/3">
      <img class="object-cover h-full w-full" src="https://firebasestorage.googleapis.com/v0/b/turismo-f9aa8.appspot.com/o/home%2Fregiones%2Fregion_amazonia.jpg?alt=media&token=b703b492-051a-4e9f-bccd-9633be266cad" alt="region-explore" loading="lazy">
      <button class="absolute bottom-5 right-5 py-2 px-4 rounded-2xl text-blue-950 font-bold border-none bg-lime-400 hover:bg-lime-300" type="button">Explora</button>
    </div>

    <div class="home__events w-1/2 h-1/3 overflow-hidden relative">
      <div class="absolute top-0 left-0 bg-blue-950 text-white w-1/2 ps-2 py-2">
        <p>Tour 7 pueblos del sur occidente</p>
        <p>Junio 10-20</p>
      </div>
      <img class="object-cover center" src="https://firebasestorage.googleapis.com/v0/b/turismo-f9aa8.appspot.com/o/home%2Ftour.jpg?alt=media&token=f6d85160-ebd9-4619-8aac-06e09045dc62" alt="Tour" loading="lazy">

      <button class="absolute bottom-5 right-5 py-2 px-4 rounded-2xl text-blue-950 font-bold border-none bg-lime-400 hover:bg-lime-300" type="button">Reserva</button>
    </div>

    <div class="home__events w-1/2 h-1/3 overflow-hidden relative">
      <div class="absolute top-0 left-0 bg-blue-950 text-white w-1/2 ps-2 py-2">
        <p>Carnaval negros y blancos</p>
        <p>Enero 3-6</p>
      </div>
      <img class="object-cover center" src="https://firebasestorage.googleapis.com/v0/b/turismo-f9aa8.appspot.com/o/home%2Fpasto.avif?alt=media&token=412039c5-ea74-4163-9368-b220d1ca5e19" alt="Eventos" loading="lazy">

      <button class="absolute bottom-5 right-5 py-2 px-4 rounded-2xl text-blue-950 font-bold border-none bg-lime-400 hover:bg-lime-300" type="button">Reserva</button>
    </div>

  </div>
</section>


