<section class="restaurant h-screen w-full pt-14">
  <div
    class="restaurant__containter flex flex-col justify-stretch w-[90%] h-full m-auto"
  >
    <h1 class="text-4xl text-blue-950 my-4">La abuela</h1>
    <div class="flex min-h-1/3 w-full">
      <div class="w-1/2 h-full overflow-hidden relative">
        <div class="absolute w-full left-0 bottom-0 bg-blue-950 text-white p-2">
          <app-star-rating-component [averageRating]="4"></app-star-rating-component>
          <p>
            Traditional Colombian food made with traditional techniques and
            wood-burning stove.
          </p>
        </div>
        <!-- <star-rating class="" [starType]="'svg'" [rating]="2.63"></star-rating> -->
        <img
          class="absolute top-0 left-0 -z-10"
          src="../../../../../../../assets/img/restaurant/restaurant_1.jpg"
          alt="Restaurant"
          loading="lazy"
        />
      </div>

      <div class="w-1/2 min-h-1/3 px-5">
        <p>
          En el corazón de una pintoresca casa colonial colombiana, se encuentra
          un restaurante que es un tesoro escondido para los amantes de la
          auténtica cocina colombiana. Restaurante
          <span class="text-lime-600 font-bold">La Abuela</span> te invita a un
          viaje culinario a través de sus platos típicos, cada uno cocinado
          lentamente sobre leña, lo que les infunde un sabor ahumado y una
          textura inigualable que evoca la tradición y el calor de hogar. Las
          paredes de adobe y las vigas de madera se alzan como testigos mudos de
          historias y risas compartidas, mientras que los aromas de arepas de
          choclo, bandeja paisa y sancocho traspasan el aire, prometiendo una
          experiencia gastronómica que es tanto un festín para el paladar como
          un homenaje a la rica herencia cultural de Colombia.
        </p>
        <div class="flex flex-col">
          <div
            routerLink="/"
            class="flex justify-start items-center gap-4 cursor-pointer mb-5"
          >
            <div class="border-b-2 border-blue-950">
              <fa-icon
                class="text-[25px] text-blue-950"
                [icon]="faLocationDot"
              ></fa-icon>
            </div>
            <p class="font-bold text-lg text-blue-950">
              <span class="text-lime-500">Carrera 25 # 33 - 44</span>
              La arcada Popayán - Cauca
            </p>
          </div>
          <div class="flex w-full gap-10">
            <button
              class="w-[250px] bg-lime-500 hover:bg-lime-400 py-2 rounded-lg font-bold"
              type="button"
              (click)="toogleMenuOptions=!toogleMenuOptions"
            >
              Carta
            </button>
            <button
              (click)="openDialog('La abuela')"
              class="w-[250px] bg-blue-950 hover:bg-blue-800 py-2 rounded-lg font-bold text-lime-500"
              type="button"
            >
              Reserva
            </button>
          </div>
        </div>
      </div>
    </div>

    @if (toogleMenuOptions) {
      <div class="flex flex-col w-full">
        <h2 class="text-blue-950 text-[1.5em] font-bold">Carta</h2>
        <div class="flex">
          <div class="w-1/2">
            <h3 class="text-blue-950 font-bold">Desayunos:</h3>
            <ul>
              <li>Arepas de huevo con hogao</li>
              <li>Calentado paisa con chorizo y aguacate</li>
              <li>Tamal tolimense con chocolate caliente</li>
              <li>Changua con cilantro y almojábana</li>
              <li>
                Huevos revueltos con tomate y cebolla acompañados de arepas
                antioqueñas
              </li>
              <li>Caldo de costilla con yuca y cilantro</li>
            </ul>

            <h3 class="text-blue-950 font-bold mt-5">Entradas:</h3>
            <ul>
              <li>Empanadas vallunas con aji picante</li>
              <li>Patacones con hogao y queso costeño</li>
              <li>Aborrajados de plátano con bocadillo y queso</li>
              <li>Buñuelos con salsa de hogao</li>
              <li>Chorizo santarrosano con limón y arepa</li>
              <li>Ensalada de palmitos con aguacate y tomate</li>
            </ul>

            <h3 class="text-blue-950 font-bold mt-5">Almuerzo:</h3>
            <ul>
              <li>Bandeja paisa con frijoles, chicharrón y plátano maduro</li>
              <li>Ajiaco santafereño con su crema y alcaparras</li>
              <li>Cazuela de mariscos con arroz de coco</li>
              <li>Lechona tolimense acompañada de insulso y ají</li>
              <li>Sancocho trifásico con mazorca, plátano y yuca</li>
              <li>Arroz atollado vallecaucano con pollo y longaniza</li>
            </ul>

          </div>
          <div class="w-1/2 ps-5">
            <h3 class="text-blue-950 font-bold">Cena:</h3>
            <ul>
              <li>Sobrebarriga en salsa criolla con yuca al mojo</li>
              <li>Trucha al ajillo con patacones y ensalada fresca</li>
              <li>Lomo al trapo con arepa de choclo y guacamole</li>
              <li>Carne desmechada con arroz blanco y aguacate</li>
              <li>Pargo rojo frito con arroz con coco y ensalada de aguacate</li>
              <li>Mondongo antioqueño con aguacate y limón</li>
            </ul>

            <h3 class="text-blue-950 font-bold mt-5">Bebidas:</h3>
            <ul>
              <li>Lulada vallecaucana</li>
              <li>Jugo de guanábana en leche</li>
              <li>Refajo con cerveza y Colombiana</li>
              <li>Champús valluno</li>
              <li>Aguardiente antioqueño con limón y agua de panela</li>
              <li>Café de olla con canela y clavo</li>
            </ul>


            <h3 class="text-blue-950 font-bold mt-5">Postres:</h3>

            <ul>
              <li>Brevas con arequipe y queso fresco</li>
              <li>Cuajada con melao y galletas de achira</li>
              <li>Helado de curuba con salsa de mora</li>
              <li>Tres leches con coco rallado</li>
              <li>Natilla con buñuelos y bocadillo</li>
              <li>Rollo de guayaba con queso costeño</li>
            </ul>
          </div>
        </div>
      </div>
    }

    <div class="flex flex-col w-full border-gray-400 border-t-2 mt-4">
      <div class="flex justify-between my-5">
        <h2 class="text-blue-950 text-[1.5em] font-bold mt-2">Comentarios</h2>
        <button
          class="w-[250px] bg-lime-500 hover:bg-lime-400 py-2 rounded-lg font-bold"
          type="button"
        >
          Agregar calificación
        </button>
      </div>
      @if(users() === null){
        <p>
          Aún no hay comentarios se el primero en agregar uno
        </p>
      }@else{
        <div class="flex flex-wrap justify-between w-full gap-5">
          @for (user of users(); track $index) {
            <div class="flex items-center gap-5 sm:w-full md:max-w-[45%] lg:max-w-[30%] shadow-lg border-gray-300 border p-2 rounded-xl">
              <div class="flex flex-col justify-start items-center">
                <img class="rounded-full" [src]="user.picture.thumbnail" alt="user image" loading="lazy">
                <p>{{user.name.first}}</p>
              </div>
              <div class="flex flex-col flex-wrap">
                <p class="flex-grow">
                  Exclente lugar, con acabados coloniales y buen sabor en su comida. El parqueadero es pequeño, debes llegar con anticipación.
                </p>
                <app-star-rating-component [averageRating]="4"></app-star-rating-component>
              </div>
            </div>
          }
        </div>
      }
    </div>

  </div>
</section>
