<section class="restaurant h-screen w-full pt-14">
  <div class="restaurant__containter flex flex-col justify-stretch w-[90%] h-full m-auto border">
    <h1>La abuela</h1>
    <p>
      Traditional Colombian food made with traditional techniques and wood-burning stove.
    </p>
    <div class="cards__container flex flex-wrap gap-4 w-full h-full">
      <app-card-food></app-card-food>
      <app-card-food></app-card-food>
      <app-card-food></app-card-food>
      <app-card-food></app-card-food>
      <app-card-food></app-card-food>
      <app-card-food></app-card-food>
      <app-card-food></app-card-food>
      <app-card-food></app-card-food>
      <app-card-food></app-card-food>
    </div>
  </div>
</section>
