<section class="">
  <div class="flex justify-between text-blue-950 mt-5">
    <h1 class="text-blue-950 text-4xl px-5">{{'Region'}}</h1>
    <button class="text-blue-950 text-2xl px-5" type="button" (click)="close()">X</button>
  </div>
  <h2 class="text-blue-950 text-2xl px-5">{{functionBtn}}</h2>
  <form class="max-w-md mx-auto px-5" [formGroup]="createRegionForm" (ngSubmit)="onSubmitRegion()">

    <div class="relative z-0 w-full mb-5 group">
      <input id="name" type="text" formControlName="name"
      class="block py-2.5 px-0 w-full text-lg text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
      placeholder=" " required
      >
      <label
        class="peer-focus:font-medium absolute text-lg text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        for="name">Nombre </label>
    </div>

    <div class="mx-auto">
      <label for="legend" class="block mb-2 text-lg font-medium text-gray-900 dark:text-white">Descripción: </label>
      <textarea id="legend" name="legend" formControlName="legend" rows="4"
      class="block px-5 p-2.5 w-full text-lg text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Deja un comentario..."></textarea>
    </div>

    <div class="relative z-0 w-full mb-5 group">
      <input id="image" type="file" formControlName="image"
        class="hidden"
        (change)="upLoadImage($event)"
      >
      <label
        class="text-lg text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        for="image">Imagen </label>
    </div>

    @if(newRegion.image !== null && newRegion.image.length >0){
      <img [src]="newRegion.image" alt="region" loading="lazy"/>
    }

    <p class="my-2">Complete el formulario para activar el botón</p>
    <button type="submit" [disabled]="!createRegionForm.valid"
      class="mb-5 text-white bg-blue-950 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      {{functionBtn}}
    </button>
  </form>
</section>
