<div class="card w-[300px] h-80 border overflow-hidden rounded-lg">
  <img class="object-cover h-1/2 w-full" src="../../../../../../../assets/img/restaurant/bandeja.jpg" alt="restaurante" loading="lazy">
  <div class="flex flex-col justify-between h-1/2">
    <div class="">
      <h2 class="px-2 text-lg font-bold border">Bandeja tradicional</h2>
      <p class="px-2">
        Arroz, chorizo, huevos dobles, papas a la francesa
      </p>
      <p class="px-2 border-t text-lg">
        10 Usd
      </p>
    </div>
    <button class="bg-lime-500 hover:bg-lime-400 py-2 text-blue-950 font-bold" type="button">
      Agregar al carrito
    </button>
  </div>
</div>
