<section class="h-full w-full p-0">
  <div class="flex gap-5 bg-white drop-shadow-md rounded-lg p-1.5">
    <img
      class="w-28 h-28 rounded-full border-4 border-slate-50 object-cover"
      src="../../../../../assets/img/users/user.jpg" alt="image profile"
    />
    <div>
      <p>{{"Pedro Perez"}}</p>
      <p>Documento {{"2569987331"}}</p>
      <p>{{"correo@correo.com"}}</p>
      <p>{{"319655562278"}}</p>
    </div>
    <div>
      <app-star-rating></app-star-rating>
      <p>Reservaciones: {{150}}</p>
      <p>Reservaciones: {{150}}</p>
    </div>
  </div>
</section>
